:root {
    // color

  --body-text-color:#000000;
  --primary-text-color: #ffffff;
  --secondary-text-color: #907E82;
  --btn-text-color: #D41443;
  --title-text-color:#FFA5BA;
  --accent-btn-color: #ecebeb;
  --secondary-accent-color: #D41443;
  --body-bg-color: #ffffff;
  --bg-product-1-color: #FFB8CA;
  --bg-product-2-color: #F0D1A5;
  --bg-product-3-color: #C2E297;
  --bg-about: #FFF5F6;
  --bg-footer: #FFF5F6;
  --primary-bg-hero: #FFB8CA;
  --secondary-bg-hero: #FFA5BA;
  --footer-border-color: #e1e1e1;

  //  timing function
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}