<section class="about" id="about">
  <div class="container">
    <div class="is-hidden" data-title="about">
      <p class="about__subtitle">tradition and love</p>
      <h2 class="about__title">how it’s made?</h2>
    </div>
      <div class="about__content">
      <img
        class="about__img"
        srcset="./images/about/bio-eco-cow@2x.png 2x"
        src="./images/about/bio-eco-cow@1x.png"
        alt="milk"
        loading="lazy"
      />
      <div class="about__product">
        <p class="about__title-text">
          Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo
          cursus, faucibus lorem eget, egestas eros. Maecenas eleifend erat at
          justo fringilla.
        </p>
        <p class="about__story">
          Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum.
          Mauris rhoncus orci in imperdiet placerat. Vestibulum euismod nisl
          suscipit ligula volutpat, a feugiat urna maximus. Cras massa nibh,
          tincidunt.
        </p>
        <p class="about__story-end">Aliquam erat volutpat. Aenean accumsan.</p>
        <button class="about__button" type="button" data-button="readMore">
          Read More
          <svg class="about__button-icon">
            <use href="./images/svg/sprite.svg#icon-btn-arrow"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>
