<section class="section contacts" id="contacts">
    
    <h2 class="visually-hidden">Contacts</h2>
<div class="container contacts__conteiner">

    <ul class="contacts__card-list">
<li class="contacts__card">
           <p class="contacts__category">CAFE</p>

     <div class="contacts__place">
           <h3 class="contacts__city">Chicago</h3>
            <p class="contacts__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
     </div>

    <p class="contacts__line"></p>
    <div class="contacts__workinng">
            <p class="contacts__days-workinng">Monday - Friday</p>
            <time class="contacts__time-workinng time2" datetime="06:00:00">06:00 AM - 10:00 PM</time>

            <p class="contacts__days-workinng">Saturday - Sunday</p>
            <time class="contacts__time-workinng" datetime="08:00:00">08:00 AM - 16:00 PM</time>

    </div>


     <p class="contacts__line"></p>

    <address>
         <a  class="contacts__tel" href="tel:+610383766284">+61(0) 383 766 284</a>
         <a class="contacts__mail" href="mailto:noreply@envato.com">noreply@envato.com</a>
    </address>

</li>

     <li class="contacts__card">
<p class="contacts__category category-2">FOODTRUCK</p>
<div class="contacts__place">
    <h3 class="contacts__city">Los Angeles</h3>
    <p class="contacts__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
</div>


<p class="contacts__line"></p>

<div class="contacts__workinng">
    <p class="contacts__days-workinng">Monday - Friday</p>
<time class="contacts__time-workinng" datetime="06:00:00">06:00 AM - 10:00 PM</time>
<p class="contacts__days-workinng">Saturday - Sunday</p>

<time class="contacts__time-workinng" datetime="08:00:00">08:00 AM - 16:00 PM</time>
</div>



<p class="contacts__line"></p>

<address>
    <a class="contacts__tel" href="tel:+610383766284">+61(0) 383 766 284</a>
  <a class="contacts__mail" href="mailto:noreply@envato.com">noreply@envato.com</a>
</address>

</li >
    <li class="contacts__card">
<p class="contacts__category">CAFE</p>
<div class="contacts__place">
    <h3 class="contacts__city">New York</h3>
<p class="contacts__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
</div>
<p class="contacts__line"></p>

<div class="contacts__workinng">
       <p class="contacts__days-workinng">Monday - Friday</p>
       <time class="contacts__time-workinng" datetime="06:00:00">06:00 AM - 10:00 PM</time>
       <p class="contacts__days-workinng">Saturday - Sunday</p>
       <time class="contacts__time-workinng" datetime="08:00:00">08:00 AM - 16:00 PM</time>
</div>
<p class="contacts__line"></p>

<address> 
    <a class="contacts__tel" href="tel:+610383766284">+61(0) 383 766 284</a>
  <a class="contacts__mail" href="mailto:noreply@envato.com">noreply@envato.com</a>
</address>


</li>


    </ul>
    
    
<ul class="contacts__button">
    <li>
        <button class="contacts__button-locations" type="button" data-button="locations" data-modal-open>Our Locations
    <svg  class="contact__button-icon-location">
                <use href="./images/svg/sprite.svg#icon-btn-arrow">
    
                </use>
            </svg>
</button>
    </li>
    <li>
        <button class="contacts__button-franchise" type="button" data-button="franchise" data-modal-open>Franchise
    <svg  class="contact__button-icon-franchise">
                <use href="./images/svg/sprite.svg#icon-btn-arrow">
    
                </use>
            </svg>
</button>
    </li>

    


</ul>

    </div>

</section>