<section class="section contacts">
    <div class="container">
    <h2 class="visually-hidden">Contacts</h2>

    <div class="contacts__card">
<p class="contacts__place">CAFE</p>
<h3 class="contacts__city">Chicago</h3>
<p class="contacts__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
<p class="contacts__days-workinng">Monday - Friday</p>
<time class="contacts__time-workinng" datetime="06:00:00">06:00 AM - 10:00 PM</time>
<p class="contacts__days-workinng">Saturday - Sunday</p>

<time class="contacts__time-workinng" datetime="08:00:00">08:00 AM - 16:00 PM</time>
<address>
     <a  class="contacts__tel" href="tel:+610383766284">+61(0) 383 766 284</a>
  <a class="contacts__mail" href="mailto:noreply@envato.com">noreply@envato.com</a>
</address>

    </div>

     <div class="contacts__card">
<p class="contacts__place">FOOD TRUCK</p>
<h3 class="contacts__city">Los Angeles</h3>
<p class="contacts__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
<p class="contacts__days-workinng">Monday - Friday</p>
<time datetime="06:00:00">06:00 AM - 10:00 PM</time>
<p>Saturday - Sunday</p>

<time class="contacts__time-workinng" datetime="08:00:00">08:00 AM - 16:00 PM</time>
<address>
    <a class="contacts__tel" href="tel:+610383766284">+61(0) 383 766 284</a>
  <a class="contacts__mail" href="mailto:noreply@envato.com">noreply@envato.com</a>
</address>

    </div >
    <div class="contacts__card">
<p class="contacts__place">CAFE</p>
<h3 class="contacts__city">New York</h3>
<p class="contacts__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
<p class="contacts__days-workinng">Monday - Friday</p>
<time class="contacts__time-workinng" datetime="06:00:00">06:00 AM - 10:00 PM</time>
<p>Saturday - Sunday</p>

<time datetime="08:00:00">08:00 AM - 16:00 PM</time>
<address>
    <a class="contacts__tel" href="tel:+610383766284">+61(0) 383 766 284</a>
  <a class="contacts__mail" href="mailto:noreply@envato.com">noreply@envato.com</a>
</address>

    </div>
    </div>
</section>