<section class="se.webpction gallery">
  <h2 class="section__title visually-hidden">ReviewsIcecream gallery</h2>

  <div class="container gallery__container">
    <ul class="gallery__grid grid">
      <li class="grid__item grid__item--num1">
        <a class="grid__link" href="./images/gallery/big/gallery_01-big.jpg">
          <picture class="grid__image">
            <!-- 1280 -->
            <source
              srcset="
                ./images/gallery/desktop/x1/gallery_01@1x.webp 1x,
                ./images/gallery/desktop/x2/gallery_01@2x.webp 2x
              "
              media="(min-width: 1200px)"
            />

            <!-- 768 -->
            <source
              srcset="
                ./images/gallery/tablet/x1/gallery_01-t@1x.webp 1x,
                ./images/gallery/tablet/x2/gallery_01-t@2x.webp 2x
              "
              media="(min-width: 768px)"
            />

            <!-- 320 -->
            <source
              srcset="
                ./images/gallery/mobile/x1/gallery_01-m@1x.webp 1x,
                ./images/gallery/mobile/x2/gallery_01-m@2x.webp 2x
              "
              media="(min-width: 320px)"
            />

            <!-- others -->
            <img
              src="./images/gallery/gallery_01.jpg"
              alt="Green ice cream"
              loading="lazy"
            />
          </picture>
        </a>
      </li>
      <li class="grid__item grid__item--num2">
        <a class="grid__link" href="./images/gallery/big/gallery_02-big.jpg">
          <picture class="grid__image">
            <!-- 1280 -->
            <source
              srcset="
                ./images/gallery/desktop/x1/gallery_02@1x.webp 1x,
                ./images/gallery/desktop/x2/gallery_02@2x.webp 2x
              "
              media="(min-width: 1200px)"
            />

            <!-- 768 -->
            <source
              srcset="
                ./images/gallery/tablet/x1/gallery_02-t@1x.webp 1x,
                ./images/gallery/tablet/x2/gallery_02-t@2x.webp 2x
              "
              media="(min-width: 768px)"
            />

            <!-- 320 -->
            <source
              srcset="
                ./images/gallery/mobile/x1/gallery_02-m@1x.webp 1x,
                ./images/gallery/mobile/x2/gallery_02-m@2x.webp 2x
              "
              media="(min-width: 320px)"
            />

            <!-- others -->
            <img
              src="./images/gallery/gallery_02.jpg"
              alt="The ice cream cone"
              loading="lazy"
            />
          </picture>
        </a>
      </li>
      <li class="grid__item grid__item--num3">
        <a class="grid__link" href="./images/gallery/big/gallery_03-big.jpg">
          <picture class="grid__image">
            <!-- 1280 -->
            <source
              srcset="
                ./images/gallery/desktop/x1/gallery_03@1x.webp 1x,
                ./images/gallery/desktop/x2/gallery_03@2x.webp 2x
              "
              media="(min-width: 1200px)"
            />

            <!-- 768 -->
            <source
              srcset="
                ./images/gallery/tablet/x1/gallery_03-t@1x.webp 1x,
                ./images/gallery/tablet/x2/gallery_03-t@2x.webp 2x
              "
              media="(min-width: 768px)"
            />

            <!-- 320 -->
            <source
              srcset="
                ./images/gallery/mobile/x1/gallery_03-m@1x.webp 1x,
                ./images/gallery/mobile/x2/gallery_03-m@2x.webp 2x
              "
              media="(min-width: 320px)"
            />

            <!-- others -->
            <img
              src="./images/gallery/gallery_03.jpg"
              alt="Raspberry ice cream"
              loading="lazy"
            />
          </picture>
        </a>
      </li>
      <li class="grid__item grid__item--num4">
        <a class="grid__link" href="./images/gallery/big/gallery_04-big.jpg">
          <picture class="grid__image">
            <!-- 1280 -->
            <source
              srcset="
                ./images/gallery/desktop/x1/gallery_04@1x.webp 1x,
                ./images/gallery/desktop/x2/gallery_04@2x.webp 2x
              "
              media="(min-width: 1200px)"
            />

            <!-- 768 -->
            <source
              srcset="
                ./images/gallery/tablet/x1/gallery_04-t@1x.webp 1x,
                ./images/gallery/tablet/x2/gallery_04-t@2x.webp 2x
              "
              media="(min-width: 768px)"
            />

            <!-- 320 -->
            <source
              srcset="
                ./images/gallery/mobile/x1/gallery_04-m@1x.webp 1x,
                ./images/gallery/mobile/x2/gallery_04-m@2x.webp 2x
              "
              media="(min-width: 320px)"
            />

            <!-- others -->
            <img
              src="./images/gallery/gallery_04.jpg"
              alt="Ice cream Eldorado"
              loading="lazy"
            />
          </picture>
        </a>
      </li>
      <li class="grid__item grid__item--num5">
        <a class="grid__link" href="./images/gallery/big/gallery_05-big.jpg">
          <picture class="grid__image">
            <!-- 1280 -->
            <source
              srcset="
                ./images/gallery/desktop/x1/gallery_05@1x.webp 1x,
                ./images/gallery/desktop/x2/gallery_05@2x.webp 2x
              "
              media="(min-width: 1200px)"
            />

            <!-- 768 -->
            <source
              srcset="
                ./images/gallery/tablet/x1/gallery_05-t@1x.webp 1x,
                ./images/gallery/tablet/x2/gallery_05-t@2x.webp 2x
              "
              media="(min-width: 768px)"
            />

            <!-- 320 -->
            <source
              srcset="
                ./images/gallery/mobile/x1/gallery_05-m@1x.webp 1x,
                ./images/gallery/mobile/x2/gallery_05-m@2x.webp 2x
              "
              media="(min-width: 320px)"
            />

            <!-- others -->
            <img
              src="./images/gallery/gallery_05.jpg"
              alt="Mmm... Yami-Yami"
              loading="lazy"
            />
          </picture>
        </a>
      </li>
      <li class="grid__item grid__item--num6">
        <a class="grid__link" href="./images/gallery/big/gallery_06-big.jpg">
          <picture class="grid__image">
            <!-- 1280 -->
            <source
              srcset="
                ./images/gallery/desktop/x1/gallery_06@1x.webp 1x,
                ./images/gallery/desktop/x2/gallery_06@2x.webp 2x
              "
              media="(min-width: 1200px)"
            />

            <!-- 768 -->
            <source
              srcset="
                ./images/gallery/tablet/x1/gallery_06-t@1x.webp 1x,
                ./images/gallery/tablet/x2/gallery_06-t@2x.webp 2x
              "
              media="(min-width: 768px)"
            />

            <!-- 320 -->
            <source
              srcset="
                ./images/gallery/mobile/x1/gallery_06-m@1x.webp 1x,
                ./images/gallery/mobile/x2/gallery_06-m@2x.webp 2x
              "
              media="(min-width: 320px)"
            />

            <!-- others -->
            <img
              src="./images/gallery/gallery_06.jpg"
              alt="run npm build"
              loading="lazy"
            />
          </picture>
        </a>
      </li>
      <li class="grid__item grid__item--num7">
        <a class="grid__link" href="./images/gallery/big/gallery_07-big.jpg">
          <picture class="grid__image">
            <!-- 1280 -->
            <source
              srcset="
                ./images/gallery/desktop/x1/gallery_07@1x.webp 1x,
                ./images/gallery/desktop/x2/gallery_07@2x.webp 2x
              "
              media="(min-width: 1200px)"
            />

            <!-- 768 -->
            <source
              srcset="
                ./images/gallery/tablet/x1/gallery_07-t@1x.webp 1x,
                ./images/gallery/tablet/x2/gallery_07-t@2x.webp 2x
              "
              media="(min-width: 768px)"
            />

            <!-- 320 -->
            <source
              srcset="
                ./images/gallery/mobile/x1/gallery_07-m@1x.webp 1x,
                ./images/gallery/mobile/x2/gallery_07-m@2x.webp 2x
              "
              media="(min-width: 320px)"
            />

            <!-- others -->
            <img
              src="./images/gallery/gallery_07.jpg"
              alt="Senior ice cream"
              loading="lazy"
            />
          </picture>
        </a>
      </li>
      <li class="grid__item grid__item--num8">
        <a class="grid__link" href="./images/gallery/big/gallery_08-big.jpg">
          <picture class="grid__image">
            <!-- 1280 -->
            <source
              srcset="
                ./images/gallery/desktop/x1/gallery_08@1x.webp 1x,
                ./images/gallery/desktop/x2/gallery_08@2x.webp 2x
              "
              media="(min-width: 1200px)"
            />

            <!-- 768 -->
            <source
              srcset="
                ./images/gallery/tablet/x1/gallery_08-t@1x.webp 1x,
                ./images/gallery/tablet/x2/gallery_08-t@2x.webp 2x
              "
              media="(min-width: 768px)"
            />

            <!-- 320 -->
            <source
              srcset="
                ./images/gallery/mobile/x1/gallery_08-m@1x.webp 1x,
                ./images/gallery/mobile/x2/gallery_08-m@2x.webp 2x
              "
              media="(min-width: 320px)"
            />

            <!-- others -->
            <img
              src="./images/gallery/gallery_08.jpg"
              alt="Junior ice cream"
              loading="lazy"
            />
          </picture>
        </a>
      </li>
      <li class="grid__item grid__item--num9">
        <a class="grid__link" href="./images/gallery/big/gallery_09-big.jpg">
          <picture class="grid__image">
            <!-- 1280 -->
            <source
              srcset="
                ./images/gallery/desktop/x1/gallery_09@1x.webp 1x,
                ./images/gallery/desktop/x2/gallery_09@2x.webp 2x
              "
              media="(min-width: 1200px)"
            />

            <!-- 768 -->
            <source
              srcset="
                ./images/gallery/tablet/x1/gallery_09-t@1x.webp 1x,
                ./images/gallery/tablet/x2/gallery_09-t@2x.webp 2x
              "
              media="(min-width: 768px)"
            />

            <!-- 320 -->
            <source
              srcset="
                ./images/gallery/mobile/x1/gallery_09-m@1x.webp 1x,
                ./images/gallery/mobile/x2/gallery_09-m@2x.webp 2x
              "
              media="(min-width: 320px)"
            />

            <!-- others -->
            <img
              src="./images/gallery/gallery_09.jpg"
              alt="Choko ice cream"
              loading="lazy"
            />
          </picture>
        </a>
      </li>
      <li class="grid__item grid__item--num10">
        <a class="grid__link" href="./images/gallery/big/gallery_10-big.jpg">
          <picture class="grid__image">
            <!-- 1280 -->
            <source
              srcset="
                ./images/gallery/desktop/x1/gallery_10@1x.webp 1x,
                ./images/gallery/desktop/x2/gallery_10@2x.webp 2x
              "
              media="(min-width: 1200px)"
            />

            <!-- 768 -->
            <source
              srcset="
                ./images/gallery/tablet/x1/gallery_10-t@1x.webp 1x,
                ./images/gallery/tablet/x2/gallery_10-t@2x.webp 2x
              "
              media="(min-width: 768px)"
            />

            <!-- 320 -->
            <source
              srcset="
                ./images/gallery/mobile/x1/gallery_10-m@1x.webp 1x,
                ./images/gallery/mobile/x2/gallery_10-m@2x.webp 2x
              "
              media="(min-width: 320px)"
            />

            <!-- others -->
            <img
              src="./images/gallery/gallery_10.jpg"
              alt="Donnuts ice cream"
              loading="lazy"
            />
          </picture>
        </a>
      </li>
    </ul>
  </div>
</section>
