<section class="se.webpction gallery">
  <h2 class="section__title visually-hidden">ReviewsIcecream gallery</h2>

  <div class="container gallery__container">
    <ul class="gallery__grid grid">
      <li class="grid__item grid__item--num1">
        <a class="grid__link" href="./images/gallery/big/gallery_01-big.jpg">
          <img
            class="grid__image"
            srcset="
              ./images/gallery/x1/gallery_01@1x.webp 1x,
              ./images/gallery/x2/gallery_01@2x.webp 2x
            "
            src="./images/gallery/gallery_01.jpg"
            alt="Green ice cream"
            width="140"
            height="140"
            loading="lazy"
          />
        </a>
      </li>
      <li class="grid__item grid__item--num2">
        <a class="grid__link" href="./images/gallery/big/gallery_02-big.jpg">
          <img
            class="grid__image"
            srcset="
              ./images/gallery/x1/gallery_02@1x.webp 1x,
              ./images/gallery/x2/gallery_02@2x.webp 2x
            "
            src="./images/gallery/gallery_02.jpg"
            alt="The ice cream cone"
            width="140"
            height="140"
            loading="lazy"
          />
        </a>
      </li>
      <li class="grid__item grid__item--num3">
        <a class="grid__link" href="./images/gallery/big/gallery_03-big.jpg">
          <img
            class="grid__image"
            srcset="
              ./images/gallery/x1/gallery_03@1x.webp 1x,
              ./images/gallery/x2/gallery_03@2x.webp 2x
            "
            src="./images/gallery/gallery_03.jpg"
            alt="Raspberry ice cream"
            width="140"
            height="140"
            loading="lazy"
          />
        </a>
      </li>
      <li class="grid__item grid__item--num4">
        <a class="grid__link" href="./images/gallery/big/gallery_04-big.jpg">
          <img
            class="grid__image"
            srcset="
              ./images/gallery/x1/gallery_04@1x.webp 1x,
              ./images/gallery/x2/gallery_04@2x.webp 2x
            "
            src="./images/gallery/gallery_04.jpg"
            alt="Ice cream Eldorado"
            width="284"
            height="284"
            loading="lazy"
          />
        </a>
      </li>
      <li class="grid__item grid__item--num5">
        <a class="grid__link" href="./images/gallery/big/gallery_05-big.jpg">
          <img
            class="grid__image"
            srcset="
              ./images/gallery/x1/gallery_05@1x.webp 1x,
              ./images/gallery/x2/gallery_05@2x.webp 2x
            "
            src="./images/gallery/gallery_05.jpg"
            alt="Mmm... Yami-Yami"
            width="140"
            height="140"
            loading="lazy"
          />
        </a>
      </li>
      <li class="grid__item grid__item--num6">
        <a class="grid__link" href="./images/gallery/big/gallery_06-big.jpg">
          <img
            class="grid__image"
            srcset="
              ./images/gallery/x1/gallery_06@1x.webp 1x,
              ./images/gallery/x2/gallery_06@2x.webp 2x
            "
            src="./images/gallery/gallery_06.jpg"
            alt="run npm build"
            width="140"
            height="140"
            loading="lazy"
          />
        </a>
      </li>
      <li class="grid__item grid__item--num7">
        <a class="grid__link" href="./images/gallery/big/gallery_07-big.jpg">
          <img
            class="grid__image"
            srcset="
              ./images/gallery/x1/gallery_07@1x.webp 1x,
              ./images/gallery/x2/gallery_07@2x.webp 2x
            "
            src="./images/gallery/gallery_07.jpg"
            alt="Senior ice cream"
            width="140"
            height="140"
            loading="lazy"
          />
        </a>
      </li>
      <li class="grid__item grid__item--num8">
        <a class="grid__link" href="./images/gallery/big/gallery_08-big.jpg">
          <img
            class="grid__image"
            srcset="
              ./images/gallery/x1/gallery_08@1x.webp 1x,
              ./images/gallery/x2/gallery_08@2x.webp 2x
            "
            src="./images/gallery/gallery_08.jpg"
            alt="Junior ice cream"
            width="140"
            height="140"
            loading="lazy"
          />
        </a>
      </li>
      <li class="grid__item grid__item--num9">
        <a class="grid__link" href="./images/gallery/big/gallery_09-big.jpg">
          <img
            class="grid__image"
            srcset="
              ./images/gallery/x1/gallery_09@1x.webp 1x,
              ./images/gallery/x2/gallery_09@2x.webp 2x
            "
            src="./images/gallery/gallery_09.jpg"
            alt="Choko ice cream"
            width="140"
            height="140"
            loading="lazy"
          />
        </a>
      </li>
      <li class="grid__item grid__item--num10">
        <a class="grid__link" href="./images/gallery/big/gallery_10-big.jpg">
          <img
            class="grid__image"
            srcset="
              ./images/gallery/x1/gallery_10@1x.webp 1x,
              ./images/gallery/x2/gallery_10@2x.webp 2x
            "
            src="./images/gallery/gallery_10.jpg"
            alt="Donnuts ice cream"
            width="140"
            height="140"
            loading="lazy"
          />
        </a>
      </li>
    </ul>
  </div>
</section>
