<header>
  <div class="container header__container">
    <div class="logo">
      <a href="/">
        <svg class="logo__icon">
          <use href="./images/svg/sprite.svg#logo"></use>
        </svg>
      </a>
    </div>

    <nav class="menu">
      <div class="menu__wrapper">
        <button class="nav-close-button">
          <svg class="nav-close-icon">
            <use href="./images/svg/sprite.svg#icon-burger"></use>
          </svg>
        </button>

        <!-- <button class="button"> -->
        <button class="button buynow-button" type="button" data-buyNowButton>
          Buy now
          <svg class="btn-arrow">
            <use href="#"></use>
          </svg>
        </button>
      </div>

      <ul class="">
        <li><a href="#">Home</a></li>
        <li><a href="#">About us</a></li>
        <li><a href="#">How it’s made?</a></li>
        <li><a href="#">Our products</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
    </nav>

    <button class="">
      <svg class="">
        <use href="#"></use>
      </svg>
    </button>

    <!-- <button class=""> -->
    <button class="button buynow-button" type="button" data-buyNowButton>
      Buy now
      <svg class="btn-arrow">
        <use href="#"></use>
      </svg>
    </button>
  </div>
</header>
