<header class="header">
  <div class="container header__container">
    <!-- <div class="logo"> -->
    <a class="logo" href="/">
      <svg class="logo__icon">
        <use href="./images/svg/sprite.svg#logo"></use>
      </svg>
    </a>
    <!-- </div> -->

    <nav class="menu js-menu-container" id="menu-container">
      <div class="menu__btn-wrapper">
        <div class="menu__wrapper-inner">
          <!-- кнопка закрыть мобильное меню -->
          <button
            class="menu__button-close js-close-menu"
            type="button"
            aria-expanded="false"
            aria-controls="menu-container"
          >
            <svg class="menu__icon-close" aria-label="mobile menu switch">
              <use href="./images/svg/sprite.svg#icon-close"></use>
            </svg>
          </button>
          <!-- кнопка купить мобильная -->
          <button
            class="button header__button header__button--mobile buynow-button"
            type="button"
            data-button="buyNow"
          >
            Buy now
            <svg class="button__icon-btn-arrow">
              <use href="./images/svg/sprite.svg#icon-btn-arrow"></use>
            </svg>
          </button>
        </div>
      </div>

      <ul class="menu-list">
        <li class="menu-list__item">
          <a class="menu-list__link" href="#hero">Home</a>
        </li>
        <li class="menu-list__item">
          <a class="menu-list__link" href="#about">About us</a>
        </li>
        <li class="menu-list__item">
          <a class="menu-list__link" href="#advantages">How it’s made?</a>
        </li>
        <li class="menu-list__item">
          <a class="menu-list__link" href="#products">Our products</a>
        </li>
        <li class="menu-list__item">
          <a class="menu-list__link" href="#contacts">Contact</a>
        </li>
      </ul>
    </nav>
    <!-- кнопка открытия меню -->
    <button
      class="header__button-burger js-open-menu"
      type="button"
      aria-expanded="false"
      aria-controls="menu-container"
    >
      <svg class="header__icon-burger" aria-label="mobile menu switch">
        <use href="./images/svg/sprite.svg#icon-burger"></use>
      </svg>
    </button>
    <!-- кнопка купить на десктоп -->
    <button
      class="button header__button buynow-button"
      type="button"
      data-button="buyNow"
    >
      Buy now
      <svg class="button__icon-btn-arrow">
        <use href="./images/svg/sprite.svg#icon-btn-arrow"></use>
      </svg>
    </button>
  </div>
</header>
