<section class="hero section">
   <div class="container hero__container">
      <h1 class="hero__title"><span>ice cream made with</span> <span class="hero__passion">passion</span></h1>
      <ul class="list hero__list">
         <li class="hero__list-item"><a href="#products" class="btn__primary" >Products</a></li>
         <li class="hero__list-item"><a href="#about" class="button btn__secondary" >How it’s made?</a></li>
      </ul>
      

      <div class="hero__image">
         <div class="hero__circle "></div>
         <div class="hero__icecream animate__animated animate__headShake animate__bounceInUp">
            

            <picture>
               <source media="(min-width: 1200px)"
               srcset="./images/hero/desktop/icecream-hero@1x.png 1x, ./images/hero/desktop/icecream-hero@2x.png 2x">
               <source media="(min-width: 768px)"
               srcset="./images/hero/tablet/icecream-hero@1x.png 1x, ./images/hero/tablet/icecream-hero@2x.png 2x">
               <source media="(max-width: 767px)"
               srcset="./images/hero/mobile/icecream-hero@1x.png 1x, ./images/hero/mobile/icecream-hero@2x.png 2x">
               <img  src="./images/hero/mobile/icecream-hero@1x.png" alt="icecream">
            </picture>
         </div>
      </div>
      
      <div class="hero__milk animate__animated animate__backInLeft">
         <picture>
            <source media="(min-width: 1200px)"
            srcset="./images/hero/desktop/bio-eco-milk@1x.png 1x, ./images/hero/desktop/bio-eco-milk@2x.png 2x">
            <source media="(min-width: 768px)"
            srcset="./images/hero/tablet/bio-eco-milk@1x.png 1x, ./images/hero/tablet/bio-eco-milk@2x.png 2x">
            
            <img  src="./images/hero/tablet/bio-eco-milk@1x.png" alt="icecream">
         </picture>

      </div>
      <p class="hero__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>

      <div class="hero__button-arrow">
         <div class="hero__button-arrow-circle"></div>
         <svg class="hero__button-arrow-icon">
            <use href="./images/svg/sprite.svg#icon-arrow-right"></use>
         </svg>
      </div>

      <div class="hero__counter">
         <div class="hero__counter-information">
            <span class="hero__counter-number ">16</span>
            <div class="hero__counter-circle animate__animated animate__fadeInRight"></div>
            <p class="hero__counter-text">cafes</p>
         </div>
         
         <div class="hero__counter-information">
            <span class="hero__counter-number animate__animated animate__zoomIn">23</span>
            <div class="hero__counter-circle animate__animated animate__fadeInRight"></div>
            <p class="hero__counter-text">food trucks</p>
         </div>
      </div>

      <div class="hero__girl animate__animated animate__backInRight">
         <picture>
            <source media="(min-width: 1200px)"
            srcset="./images/hero/desktop/girl@1x.png 1x, ./images/hero/desktop/girl@2x.png 2x">
            <source media="(min-width: 768px)"
            srcset="./images/hero/tablet/girl@1x.png 1x, ./images/hero/tablet/girl@2x.png 2x">
            
            <img  src="./images/hero/tablet/girl@1x.png" alt="girl">
         </picture>

      </div>
   </div>
</section>