<section class="hero section">
   <div class="container">
      <h1 class="hero__title"><span>ice cream made with</span> <span class="hero__passion">passion</span></h1>
      
      <a href="#products" class="button btn__primary" type="button">Products</a>
      <a href="#how it’s made" class="button btn__secondary" type="button">How it’s made?</a>

      <div class="hero__image">
         <div class="hero__circle"></div>
         <div class="hero__icecream">
            <img
               srcset="./images/hero/mobile/icecream-hero@1x.png 1x,
                  ./images/hero/mobile/icecream-hero@2x.png 2x"
               src="./images/hero/mobile/icecream-hero@1x.png"
               alt="Мороженное"
               loading="lazy"
            />
         </div>
      </div>
      
   </div>
</section>