<section class="section products" id="products">
  <div class="container products__container">
    <div class="products__box-title">
      <p class="products__article">100% natural</p>
      <h2 class="products__title">products</h2>
    </div>

    <ul class="products__list">
      <li class="products__item">
        <h3 class="products__item-title">ice cream</h3>

        <p class="products__item-description">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et. dolore magna aliqua facilisis.
        </p>
        <div class="products__item-extras">
          <div class="products__item-info-btn">
            <svg class="products__item-icon">
              <use href="./images/svg/sprite.svg#icon-arrow-right"></use>
            </svg>
          </div>
          <div class="products__item-extras-hover">
            <p class="products__item-extras-text">
              Lorem ipsum, dolor sit amet consectetur adipisicing elit. Numquam,
              laboriosam! Mollitia impedit sapiente suscipit voluptates cum?
              Obcaecati quam, porro ea sed voluptatem omnis dolorem magni
              temporibus quae hic ex mollitia?
            </p>
          </div>
        </div>
      </li>
      <li class="products__item">
        <h3 class="products__item-title">ice coffee</h3>
        <p class="products__item-description">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et. dolore magna aliqua facilisis.
        </p>
        <div class="products__item-extras">
          <div class="products__item-info-btn">
            <svg class="products__item-icon">
              <use href="./images/svg/sprite.svg#icon-arrow-right"></use>
            </svg>
          </div>
          <div class="products__item-extras-hover">
            <p class="products__item-extras-text">
              Lorem ipsum, dolor sit amet consectetur adipisicing elit. Numquam,
              laboriosam! Mollitia impedit sapiente suscipit voluptates cum?
              Obcaecati quam, porro ea sed voluptatem omnis dolorem magni
              temporibus quae hic ex mollitia?
            </p>
          </div>
        </div>
      </li>
      <li class="products__item">
        <h3 class="products__item-title">milkshakes</h3>
        <p class="products__item-description">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et. dolore magna aliqua facilisis.
        </p>
        <div class="products__item-extras">
          <div class="products__item-info-btn">
            <svg class="products__item-icon">
              <use href="./images/svg/sprite.svg#icon-arrow-right"></use>
            </svg>
          </div>
          <div class="products__item-extras-hover">
            <p class="products__item-extras-text">
              Lorem ipsum, dolor sit amet consectetur adipisicing elit. Numquam,
              laboriosam! Mollitia impedit sapiente suscipit voluptates cum?
              Obcaecati quam, porro ea sed voluptatem omnis dolorem magni
              temporibus quae hic ex mollitia?
            </p>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
