<section class="section reviews splide" aria-label="Customers slider">
  <h2 class="section__title visually-hidden">Customer reviews</h2>
  <div class="splide__track">
    <ul class="splide__list">
      <li class="splide__slide slide">
        <div class="slide__thumb">
          <img
            class="slide__img"
            srcset="
              ../src/images/reviews/testimonials1@1x.webp 1x,
              ../src/images/reviews/testimonials1@2x.webp 2x
            "
            src="../src/images/reviews/testimonials1.jpg"
            alt="The client"
            width="85"
            height="85"
          />
        </div>
        <div class="slide__testimonials">
          <p class="slide__text">
            Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
            Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem
            ipsum primis in nibh vel risus.
          </p>
        </div>
        <p class="slide__person">Emily, Los Angeles</p>
      </li>

      <li class="splide__slide slide">
        <div class="slide__thumb">
          <img
            class="slide__img"
            srcset="
              ../src/images/reviews/testimonials2@1x.webp 1x,
              ../src/images/reviews/testimonials2@2x.webp 2x
            "
            src="../src/images/reviews/testimonials2.jpg"
            alt="The client"
            width="85"
            height="85"
          />
        </div>

        <div class="slide__testimonials">
          <p class="slide__text">
            Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
            Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem
            ipsum primis in nibh vel risus.
          </p>
        </div>
        <p class="slide__person">Emily, Los Angeles</p>
      </li>

      <li class="splide__slide slide">
        <div class="slide__thumb">
          <img
            class="slide__img"
            srcset="
              ../src/images/reviews/testimonials3@1x.webp 1x,
              ../src/images/reviews/testimonials3@2x.webp 2x
            "
            src="../src/images/reviews/testimonials3.jpg"
            alt="The client"
            width="85"
            height="85"
          />
        </div>

        <div class="slide__testimonials">
          <p class="slide__text">
            Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
            Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem
            ipsum primis in nibh vel risus.
          </p>
        </div>
        <p class="slide__person">Emily, Los Angeles</p>
      </li>
    </ul>
  </div>
</section>
