%button {
  cursor: pointer;

  border-style: none;
  border-radius: 20px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.31;
  align-items: center;

  color: var(--btn-text-color);
  background: var(--body-bg-color);

  transition: color 250ms var(--timing-function),
    background-color 250ms var(--timing-function);

  &:hover,
  &:focus {
    color: var(--btn-text-color);
    background: var(--accent-btn-color);
  }
}

.button {
  cursor: pointer;
  padding: 11px 25px;
  border-style: none;
  border-radius: 22px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.31;
  align-items: center;
  fill: currentColor;

  transition: color 250ms var(--timing-function),
    background-color 250ms var(--timing-function);

  color: var(--btn-text-color);
  background: var(--body-bg-color);
  &:hover,
  &:focus {
    color: var(--btn-text-color);
    background: var(--accent-btn-color);
  }

  &--accent {
    color: var(--body-bg-color);
    background: var(--btn-text-color);
  }
}

.button__icon-btn-arrow {
  width: 4px;
  height: 8px;
}
