.about {
    @extend .section;
    background-color:var( --bg-about);

    @media screen and (max-width: 767px){
        background-image: url('../images/about/milk-bg@1x.png');
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        width: 100vw;

        @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: url('../images/about/milk-bg@2x.png');
        } 
    }

    @media screen and (min-width: 1200px) {

        background-image: url('../images/about/milk-bg@1x.png');
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        width: 100vw;

        @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: url('../images/about/milk-bg@2x.png');
        }
    }         
}

.about__subtitle {
    // max-width: 351px;
    font-family: 'Titan One';
    font-weight: 400;
   
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;

    color: var(--title-text-color);
    transition: transform var(--transition-time) var(--timing-function);

    &:hover,
    &:focus {
        transform: scale(1.2);
    }

    @media screen and (min-width: 320px) {
        font-size: 18px;
        line-height: 1.17;
        margin-bottom: 15px;
    }

    @media screen and (min-width: 768px) {
        font-size: 26px;
        line-height: 1.15;
        margin-bottom: 16px;
    }

    @media screen and (min-width: 1200px) {
        
        font-size: 30px;
        line-height: 1.13;
    }
}

.about__title {
        
    font-family: 'Titan One';
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;

    color: var(--btn-text-color); 
    transition: transform var(--transition-time) var(--timing-function), text-shadow var(--transition-time) var(--timing-function);

    &:hover,
    &:focus {
        transform: scale(1.2);
        text-shadow: var(--primary-bg-hero) 1px 0 10px;
    }


    @media screen and (min-width: 320px) {
       
        font-size: 34px;
        line-height: 1.15;
        letter-spacing: 0.04em;
        margin-bottom: 32px;
    }

    @media screen and (min-width: 768px) {
        font-size: 48px;
        
        margin-bottom: 40px;
    }

    @media screen and (min-width: 1200px) {
        font-size: 58px;
        line-height: 1.14;
        letter-spacing: 0.06em;

        margin-bottom: 60px;
    }
   
}

.about__content {
    @media screen and (min-width: 768px) {
        display: flex;
    }
}

.about__img {

    transition: transform var(--transition-time) var(--timing-function);

    &:hover,
    &:focus {
        transform: rotate(5deg);
    }

    @media screen and (min-width: 320px) {
        width: 280px;
        height: 279px;
        margin-bottom: 40px;
    }
   
    @media screen and (min-width: 768px) {
        width: 336px;
        height: 335px;
    } 

    @media screen and (min-width: 1200px) {
        width: 501px;
        height: 501px;
    } 
}

.about__product {
    @media screen and (min-width: 320px) {
        margin-left: 0;
    }

    @media screen and (min-width: 768px) {
        margin-left: 32px;
    }

    @media screen and (min-width: 1200px) {
        margin-left: 99px;
    }
   
}
.about__title-text {
   max-width: 463px;
   font-weight: 500;
   font-family: 'DM Sans';
   
   color: #000000;

   @media screen and (min-width: 320px) {
    font-size: 12px;
    line-height: 1.6;
    margin-top: 0;
    margin-bottom: 32px;
   }

   @media screen and (min-width: 768px) {
    font-size: 14px;
    line-height: 1.8;
   }

   @media screen and (min-width: 1200px) {
    font-size: 16px;
    line-height: 1.76;
    letter-spacing: 0.04em;
    margin-top: 90px;
   }

}

.about__story{
  max-width: 463px;
  font-family: 'DM Sans';
font-style: normal;
font-weight: 500;



color: #907E82;

   @media screen and (min-width: 320px) {
    font-size: 12px;
    line-height: 1.62;
   }
   
   @media screen and (min-width: 768px) {
    font-size: 14px;
    line-height: 1.76;
    letter-spacing: 0.04em;

   }

   @media screen and (min-width: 1200px) {
    line-height: 1.94;
    
   }

}
.about__story-end {
    @extend  .about__story;
    @media screen and (min-width: 320px) {
        margin-bottom: 20px;
    }
    @media screen and (min-width: 768px) {
        margin-bottom: 40px;
    }
}

.about__button {
    width: 176px;
    height: 44px;
    padding-left: 37px;
    padding-right: 37px;
    background-color: #FFFFFF;
    border-radius: 22px;
    font-weight: 700;
    
    display: flex;
    align-items: center;
    text-align: center;

    color: #D41443;
    cursor: pointer;
    border: none;

    @media screen and (min-width: 320px) {
        font-size: 14px;
        line-height: 1.3;
    }

    @media screen and (min-width: 768px) {
        font-size: 16px;
        
    }

    &:hover,
    &:focus {
        background-color: #ECEBEB;
  }
}


.about__button-icon {
    width: 4.43px;
    height: 8px;
    fill: #D41443;
    align-items: center;
    margin-left: 14px;
    // border: 2px solid #D41443;
}


// Модальное окно

.backdrop {
    width: 100%;
    height: 100%;
   
    left: 0px;
    top: 0px;
    position: fixed;
    transition: opacity var(--transition-time) var(--timing-function), visibility 250ms var(--timing-function);

}

.modal {
   
    position: absolute;
    // width: 100%;
    top: 50%;
    left: 50%;
    padding: 40px;
    transform: translate(-50%, -50%);
    transition: transform var(--transition-time) var(--timing-function); 
    background: var(--bg-about);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;

    @media screen and (min-width: 320px) {
      width: 450px;
      

    }

  @media screen and (min-width: 1200px) {
    width: 528px;
  }
 
}

.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.about__milk {
    justify-content: center;
    align-items: center;
}

.about__title-modal {
    @extend .about__title;
    font-size: 34px;
    line-height: 1.15;
    letter-spacing: 0.04em;
    margin-bottom: 32px;
}


.about__list {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    padding-left: 15px;
    padding-right: 15px;
    
    justify-content: center;
       
}

.about__item {
    @extend  .about__story;
    
        margin-right: 15px;
        margin-left: 15px;
        margin-top: 0px;
        width: calc((100% - 4 * 15px) / 2);
    
}

.close-btn {
    position: absolute;
  
    width: 30px;
    height: 30px;
    top: 8px;
    // right: 8px;
  
    background: var(--white-color);
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
  
    transition: fill var(--transition-time) var(--timing-function), text-shadow var(--transition-time) var(--timing-function);
 
    @media screen and (min-width: 320px) {
        right: 32px;
    }

    @media screen and (min-width: 768px) {
        right: 8px;
    }
  
  &:hover &__icon,
  &:focus &__icon {
    fill: var(--title-text-color);
  }
  
  &__icon {
    position: absolute;
    width: 14px;
    height: 14px;
  
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: transform 250ms var(--timing-function);
    fill: var(--btn-text-color);
  }
  
  &__element {
    align-items: center;}
  }

