.advantages {
  padding-top: 0px;
  background-color: var(--bg-about);
    
    @include desktop {
        padding-top: 60px;
        padding-bottom: 60px;
    }
}

.advantages-list {
    @include tablet {
             @include flex(flex, flex-start, flex-start) 
        }

    &__item {
        &:first-child::before {
        content: " ";
        background-image: url('../images/advantages/icon-stat-milk.png');
        @include bg-imageSettings(34px, 50px);
        } 
        &::before {
        content: " ";
        background-image: url('../images/advantages/icon-stat-apples.png');
        @include bg-imageSettings(50px, 50px);
        }
        &:last-child::before {
        content: " ";
        background-image: url('../images/advantages/icon-stat-heart.png');
        @include bg-imageSettings(44px, 50px);
        } 

        @media screen and (max-width: 767px) {
        &:not(:last-child) {
        margin-bottom: 32px;
        }
        }
        @include tablet {
        &:not(:last-child) {
            margin-right: 4px;
            }
        }
        @include desktop {
            &:not(:last-child) {
            margin-right: 115px;
            }
        }
    }
    &__title {
        display: block;
        margin-bottom: 4px;
        margin-top: 16px;

        font-family: 'Titan One';
        font-style: normal;
        font-weight: 400;
        font-size: 36px;
        line-height: 1.40;
        letter-spacing: 0.04em;
        text-transform: uppercase;

        color: var(--secondary-accent-color);
        transform-origin: center;
        transform: scale(1);
        transition: transform 250ms var(--timing-function);

        .advantages-list__item:hover & {
            transform: translate(30%, -20%) scale(1.5);
        }

        @include tablet {
            font-size: 48px;
            line-height: 1.46;
            margin-bottom: 13px;
            margin-top: 36px;
        }
        @include desktop {
            font-size: 58px;
            line-height: 1.38;
            margin-bottom: 16px;
            margin-top: 40px;
        }
    }

    &__text {
        margin: 0;

        font-weight: 700;
        font-size: 12px;
        line-height: 1.70;
        
        @include tablet {
            max-width: 180px;
            font-size: 14px;
            line-height: 1.74; 
        }
        @include desktop {
            max-width: 288px;
            font-size: 16px;
            line-height: 1.76;
            letter-spacing: 0.02em;
        }
    }
}

// button scrollTop style

.stt{position:fixed;right:60px;bottom:60px;display:-webkit-box;display:-ms-flexbox;display:flex;width:37px;height:37px;padding:5px;cursor:pointer;visibility:hidden;opacity:0;-webkit-transition:.3s ease-in-out;-o-transition:.3s ease-in-out;transition:.3s ease-in-out}.stt:hover{opacity:1}.stt__active{visibility:visible;opacity:.5}.stt__circle__black{background-color:#d41443;border-radius:50%}.stt__circle__black:before{position:absolute;top:50%;left:40%;display:block;width:20px;height:5px;content:"";background-color:#fff;-webkit-transform:translate(0,-50%) rotate(45deg);-ms-transform:translate(0,-50%) rotate(45deg);transform:translate(0,-50%) rotate(45deg)}.stt__circle__black:after{position:absolute;top:50%;right:40%;display:block;width:20px;height:5px;content:"";background-color:#fff;-webkit-transform:translate(0,-50%) rotate(-45deg);-ms-transform:translate(0,-50%) rotate(-45deg);transform:translate(0,-50%) rotate(-45deg)}

.stt {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  transition: 0.3s ease-in-out;
}
.stt__active {
    visibility: visible;
    opacity: 0.5;
}



