.advantages-section {
  padding-top: 0px;
  background-color: var(--bg-about);
    
    @include desktop {
        padding-top: 60px;
        padding-bottom: 60px;
    }
}

.advantages-list {

    @include tablet {
             @include flex(flex, center, flex-start) 
        }

    &__item {
        @include tablet {
            &:not(:last-child) {
            margin-right: 4px;
            }
        }
        @include desktop {
            &:not(:last-child) {
            margin-right: 115px;
            }
        }
    }
    &__thumb {
        margin-bottom: 32px;
        
        @include tablet {
            margin-bottom: 0;
        }
    }

    &__icon {
        margin-bottom: 16px;
        fill: var(--title-text-color);

        @include tablet {
            margin-bottom: 36px;
        }
        @include desktop {
            margin-bottom: 40px;
        }
    }

    &__title {
        display: block;
        margin-bottom: 4px;

        font-family: 'Titan One';
        font-style: normal;
        font-weight: 400;
        font-size: 36px;
        line-height: 1.40;
        letter-spacing: 0.04em;
        text-transform: uppercase;

        color: var(--secondary-accent-color);

        transform: scale(1);
        transition: transform 250ms var(--timing-function);

        .advantages-list__item:hover & {
            transform: translate( 20%, -20%) scale(1.5);
        }

        @include tablet {
            font-size: 48px;
            line-height: 1.46;
            margin-bottom: 13px;
        }
        @include desktop {
            font-size: 58px;
            line-height: 1.38;
            margin-bottom: 16px;
        }

    }

    &__text {
        margin: 0;

        font-weight: 700;
        font-size: 12px;
        line-height: 1.70;
        
        @include tablet {
            max-width: 180px;
            font-size: 14px;
            line-height: 1.74; 
        }
        @include desktop {
            max-width: 288px;
            font-size: 16px;
            line-height: 1.76;
            letter-spacing: 0.02em;
        }

    }

}



