.contacts{
    display: flex;
        flex-direction: column;
        gap: 20px;
      
       

background: linear-gradient(to bottom,
var(--body-bg-color) 220px,
var(--bg-footer) 220px);

@media screen and (min-width: 320px) and (max-width: 1199px) {
            padding-top: 0;
            padding-bottom: 40px;

    }
        @media screen and (min-width: 768px) and (max-width: 1199px) {
            padding-top: 20px;
          
    
        }

            @media screen and (min-width: 768px) {

                background: linear-gradient(to bottom,
                            var(--body-bg-color) 360px,
                            var(--bg-footer) 360px);

                }
                                @media screen and (min-width: 1200px) {

                                padding-top: 60px;
                                  
                                    background: linear-gradient(to bottom,
                                            var(--body-bg-color) 160px,
                                            var(--bg-footer) 160px);
                                }
}

.contacts__conteiner{
    padding-bottom: 0;
}
.contacts__card-list{ 
    @media screen and (min-width: 320px) {
    display: flex;
flex-direction: column;
justify-content: space-between;
    gap: 10px;
    padding: 0;
    }
   @media screen and (min-width: 768px) {
    flex-direction: row;
    flex-wrap: wrap;
   }
}

.contacts__card{
@media screen and (min-width: 320px) {
    display: flex;
        flex-direction: column;
        gap: 24px;
    width: 280px;
        height: 412px;
        padding: 32px;
         margin: auto;
            background:var(--body-bg-color);
        box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
        border-radius: 24px;
}
@media screen and (min-width: 768px) {
gap: 32px;
justify-content: space-between;
   width: 224px;
    height: 528px;
}
@media screen and (min-width: 1200px) {
    padding: 40px;
    width: 368px;
    height: 538px;
}
}

        .contacts__category{
            @media screen and (min-width: 320px){
      
           margin: 0;
        width: 80px;
            
                text-align: center;

             font-weight: 500;
            font-size: 12px;
            line-height: 1.86;
                    
           
            letter-spacing: 0.04em;
        
            color:var(--primary-text-color);
        
            background:var(--bg-product-2-color);
            border-radius: 4px;
    }
         @media screen and (min-width: 768px) {
            width: 73px; 
            font-size: 16px;
         
            

         }
                   @media screen and (min-width: 1200px) {
                       width: 75px;
                     
        
        
                   }
}
.category-2 {
    @media screen and (min-width: 320px) {
        width: 130px;
            background-color: var(--bg-product-3-color);
    }
         @media screen and (min-width: 768px) {
             width: 138px;
         }
}
.contacts__city{
  
@media screen and (min-width: 320px) {
margin-bottom: 8px;
    font-weight: 500;
        font-size: 12px;
        line-height: 1.86;
       
        letter-spacing: 0.04em;
    
        color:var(---body-text-color);
}
@media screen and (min-width: 768px) {
   
    font-size: 14px;

}
@media screen and (min-width: 1200px) {

    font-size: 16px;

}
}
.contacts__text{
@media screen and (min-width: 320px) {
margin: 0;
    font-weight: 500;
        font-size: 12px;
        line-height: 1.5;
        
        color: var(--secondary-text-color);
}
@media screen and (min-width: 768px) {

    font-size: 14px;
line-height: 1.56;
}
@media screen and (min-width: 1200px) {

    font-size: 16px;

}
}
.contacts__line{
margin: 0;
    height: 0;
     width: 216px;   
        border: 1px solid var(--footer-border-color);
        @media screen and (min-width: 768px) {
                width: 160px;
            }
                        @media screen and (min-width: 1200px) {
            
                            width: 288px;
            
                        }
}
.contacts__days-workinng{
@media screen and (min-width: 320px) {

    margin: 0;
    font-weight: 500;
        font-size: 12px;
        line-height: 1.86;
        
        color:var(--body-text-color);
}
@media screen and (min-width: 768px) {

    font-size: 14px;

}
@media screen and (min-width: 1200px) {

    font-size: 16px;

}
}
.contacts__time-workinng{
@media screen and (min-width: 320px) {
    font-weight: 500;
        font-size: 12px;
        line-height: 1.86;
        
        color:var(--title-text-color);
}
@media screen and (min-width: 768px) {

    font-size: 14px;

}
@media screen and (min-width: 1200px) {

    font-size: 16px;

}
}
.time2{
    margin-bottom: 8px;
}
.contacts__tel, .contacts__mail{
@media screen and (min-width: 320px) {
 
    font-weight: 500;
        font-size: 12px;
        line-height: 1.5;
           
    
        color:var(--secondary-text-color);

}
@media screen and (min-width: 768px) {

    font-size: 14px;
line-height: 1.83;
}
@media screen and (min-width: 1200px) {

    font-size: 16px;

}
}
.contacts__tel:hover, .contacts__tel:focus, .contacts__mail:hover, .contacts__mail:focus {
color: var(--secondary-accent-color);
}

.contacts__button{
    display: flex;
    flex-direction: column;
            margin: auto;
        gap: 10px;
            margin-top: 42px;
            padding: 0;
    
    text-align: center;
    @media screen and (min-width: 768px) {
    
        flex-direction: row;
            justify-content: center;
            display: flex;
        }
                @media screen and (min-width: 1200px) {
        
                margin-top: 60px;
        
                }

}
.contacts__button-locations{

    text-align: center;
padding: 0;
    width: 160px;
    min-height: 44px;

    font-weight: 700;
        font-size: 16px;
        line-height: 1.31;
    
        color: var(--primary-text-color);
    background: #D41342;
    border-radius: 22px;
    cursor: pointer;
        border: none;
        @media screen and (min-width: 768px) {
        
            width: 190px;
            
            }
                        @media screen and (min-width: 1200px) {
            
                            width: 198px;
            
                        }

}
.contact__button-icon-location{
width: 4px;
    height: 8px;
    align-items: center;
        margin-left: 14px;

    
}
.contacts__button-franchise{

    text-align: center;
padding: 0;
    width: 160px;
    min-height: 44px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.31;
color: var(--btn-text-color);
    background: var(--body-bg-color);
        border-radius: 22px;
        cursor: pointer;
            border: none;
            @media screen and (min-width: 768px) {
                margin-left: 14.5px;
                    width: 174px;
            
                }
                                @media screen and (min-width: 1200px) {
                                    margin-left: 12px;
                                    width: 168px;
                
                                }
}

.contact__button-icon-franchise{
    width: 4px;
        height: 8px;
        margin-left: 14px;
          

}


.location__content{
    width: 100%;
    height: 100%;
}

.franchise__li{
@media screen and (min-width: 768px) {
display: flex;
        // flex-direction: row;
        justify-content: space-around;
        
    }
}

.franchise__name {
    margin-bottom: 10px;
    font-weight: 400;
    font-size: 20px;
    // text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;

    color: var(--body-text-color);
}

.franchise__job-title{
    margin-bottom: 8px;
    font-size: 16px;
        line-height: 1.55;
    font-family: Titan One;
        letter-spacing: 0.04em;
        // text-transform: uppercase;
    
        color:var(--btn-text-color);
}


.franchise__work{
    margin-bottom: 8px;
    font-weight: 500;
        font-size: 12px;
        line-height: 1.5;
    
        color: var(--secondary-text-color);
}
