.header {
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  right: 0;

  &__container {
    position: relative;
    display: flex;
    align-items: center;
    padding-top: 8px;

    @media screen and (min-width: 768px) {
      padding-top: 32px;
    }

    @media screen and (min-width: 1200px) {
      justify-content: space-between;
      padding-top: 37px;
    }
  }

  &__button {
    display: none;
    @media screen and (min-width: 768px) {
      display: inline-block;
      padding-left: 15px;
      padding-right: 15px;
      min-width: 160px;
      min-height: 44px;
    }

    &--mobile {
      display: inline-block;
      min-width: 209px;
      min-height: 44px;
      @media screen and (min-width: 768px) {
        min-width: 186px;
      }
      @media screen and (min-width: 1200px) {
        display: none;
      }
    }
  }
}

.menu {
  @media screen and (max-width: 1199px) {
    position: fixed;
    z-index: 999;
    top: 0;
    right: 0;
    width: 250px;
    height: 100vh;
    background-color: var(--mobile-menu-bg);

    transform: translateX(100%);
    transition-property: transform;
    transition-duration: var(--transition-time);
    transition-timing-function: var(--transition-function);
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    width: 254px;
  }
  @media screen and (min-width: 1200px) {
    background-color: transparent;
    // transform: translateX(0);
  }

  &.is-open {
    transform: translateX(0);
  }
}

.menu__btn-wrapper {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 100%;
  text-align: center;
  @media screen and (min-width: 1200px) {
    display: none;
  }
}

.menu__wrapper-inner {
  display: inline-block;
}

.menu-list {
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 0;

  @media screen and (min-width: 1200px) {
    flex-direction: row;
    margin: 0;
    justify-content: center;
    align-items: center;
  }

  &__item {
    @media screen and (max-width: 1199px) {
      width: 100%;
      padding-top: 12px;
      padding-bottom: 12px;
      border-top: 1px solid var(--mobile-menu-border);
      border-bottom: 1px solid var(--mobile-menu-border);
    }
    // @media screen and (min-width: 1200px) {
    //   border: none;
    // }

    &:hover,
    &:focus {
      cursor: pointer;
    }
  }

  &__item:not(:last-child) {
    @media screen and (min-width: 1200px) {
      margin-right: 35px;
    }
  }

  &__link {
    padding-left: 20px;
    color: var(--primary-text-color);
    transition-property: color;
    transition-duration: var(--transition-time);
    transition-timing-function: var(--transition-function);
    &:hover,
    &:focus {
      color: var(--secondary-accent-color);
      outline: none;
      border: none;
    }
  }

  @media screen and (min-width: 1200px) {
    padding-left: 0;
    font-size: 16px;
    line-height: 1.31;
    font-weight: 700;
  }
}

.logo {
  &__icon {
    width: 199px;
    height: 50px;
  }
}

.menu__button-close {
  display: block;
  cursor: pointer;
  background: transparent;
  outline: none;
  border: none;
  padding: 0;
  // margin-top: 20px;
  // margin-right: 20px;
  margin-left: auto;
  margin-bottom: 25px;

  .menu__icon-close {
    width: 14px;
    height: 14px;
    fill: var(--body-bg-color);
  }
  @media screen and (min-width: 1200px) {
    display: none;
  }
}

.header__button-burger {
  background: transparent;
  outline: none;
  border: none;
  margin-left: auto;
  cursor: pointer;

  .header__icon-burger {
    width: 20px;
    height: 12px;
    fill: var(--btn-text-color);

    @media screen and (min-width: 1200px) {
      display: none;
    }
  }
  @media screen and (min-width: 768px) {
    margin-right: 32px;
  }
  @media screen and (min-width: 1200px) {
    display: none;
  }
}
