.hero {
   background-color: var(--bg-product-1-color);

   padding-top: 194px;
   padding-bottom: 158px;
	
   position: relative;
   z-index: 5;
   overflow-x: hidden;

   @media screen and(min-width:768px) {
      padding-top: 80px;
      padding-bottom: 20px;
   }
}

.hero__title {
   position: relative;

   font-family: 'Titan One';
   font-weight: 400;
   font-size: 26px;
   line-height: 1.15;
   letter-spacing: 0.04em;
   text-transform: uppercase;

   margin-bottom: 20px;
   width: 218px;

   color: #FFFFFF;

   z-index: 15;
   
   @media screen and(min-width:768px) {
      font-size: 22px;
   line-height: 1.14;
   width: 162px;
      
   }
}


.hero__passion {
   color: var(--btn-text-color);
   font-weight: 400;
   font-size: 48px;
   line-height: 0.9;
   letter-spacing: 0;

   @media screen and(min-width:768px) {
      font-size: 34px;
   line-height: 1;
   
      
   }
}

.test {
   color: var(--primary-text-color);
}

.btn__primary {
      
   cursor: pointer;

  border-style: none;
  border-radius: 20px;
   align-items: center;

  
   
      position: relative;
      z-index: 25;         
      padding: 7px 13px;
   
      vertical-align: middle;
      font-weight: 400;
      font-size: 8px;
      line-height: 1.25;
      color: var(--primary-text-color);
      background: #C7133E;

      

      margin: 0;
   //    &:hover,
   //    &:focus {
   //       color: var(--primary-text-color);
   //       background: #C7133E;
   //   }
   }
   
   .btn__secondary {
      
      @extend %button;
      padding: 7px 13px;
      margin: 0;

      vertical-align: middle;
      position: relative;
      z-index: 25;
      font-weight: 400;
      font-size: 8px;
      line-height: 1.25;

      transition: color 250ms var(--timing-function), background-color 250ms var(--timing-function);
   
      &:hover,
      &:focus {
         color: var(--btn-text-color);
         background: var(--accent-btn-color);
      }
   }

   .hero__image{
      position: absolute;
      top: 83px;
   left: 36px;
   z-index: 10;

   @media screen and(min-width:768px) {
      top: 43px;
   left: 248px;
   }

   }

.hero__circle {
   

   border-radius: 50%;
   background: #FFA5BA;
   

   height: 344px;
   width: 346px;
   // z-index: 10;

   @media screen and(min-width:768px) {
      width: 335px;
      height: 333px;
      
   }
}
.hero__icecream {
   position: absolute;
   top: 9px;
   left: 81px;

   @media screen and(min-width:768px) {
      top: 37px;
   left: 74px;
   }
}

.hero__list {
   position: relative;
   z-index: 666;
   margin: 0;

}

@media screen and (min-width:320px) and (max-width:767px) {
   .hero__description,
   .hero__girl,
   .hero__milk,
   .hero__number {
      display: none;
   }
}
@media screen and(min-width:768px) {
   .hero__description {
   font-family: 'DM Sans';
font-style: normal;
font-weight: 400;
font-size: 8px;
line-height: 1.5;

width: 114px;

color: #FFFFFF;

position: absolute;
top: 287px;

z-index: 300;
left: 184px;

margin-bottom: 0;
}
}

@media screen and(min-width:768px) {
.hero__girl {
   position: absolute;
   top: 265px;
   right: 32px;
   z-index: 100;
}
}

@media screen and(min-width:768px) {
   .hero__milk{
      position: relative;
      top: 20px;
   }
}

@media screen and(min-width:768px) {
   .hero__number {
      
position: absolute;
right: 42px;
top: 94px;
   }
}