.cathegory__client-info {
  margin-bottom: 20px;
}

.form__label {
  margin-bottom: 10px;
  display: block;

  //   /* !удалить */
  //   outline: 1px solid green;
  //   background-color: lightblue;
}

.form__field-name,
.form__input {
  display: block;
  width: 100%;
}

.form__input {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;

  border-radius: 13px;

  border: none;
  outline: 1px solid var(--secondary-text-color);

  @include projTransitions(outline);

  &:hover,
  &:focus {
    outline: 1px solid var(--secondary-accent-color);
  }
}

.input-textarea {
  resize: none;
}

.buynow-products__list {
  display: flex;
  flex-direction: column;
  gap: 40px;

  margin-bottom: 40px;
}

.buynow-products__item {
  position: relative;
  width: 100%;
  height: 230px;

  &::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    top: calc(100% + 20px);
    left: 0;
    background-color: #e1e1e1;

    z-index: 50;
  }
}

.buynow-products__label {
  position: absolute;

  top: 0;
  left: 0;

  width: 245px;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  z-index: 3;
}

.buynow-products__title {
  font-family: var(--secondary-font);
  text-transform: uppercase;
  @include font(30, 34, 400, 0.04);

  color: var(--secondary-accent-color);
}

.buynow-products__image-price {
  position: relative;
  top: 45%;
  transform: translateY(-50%);

  overflow: hidden;
}

.image-price {
  @include flex($type: flex, $align: center, $justify: space-between);
}

.image-price__image {
  transform: translateX(-1%);
}

.price {
  position: relative;
}

.price__bg {
  position: absolute;

  width: 100px;
  height: 100px;

  top: 27%;
  left: 52%;

  border-radius: 50%;
  z-index: 0;

  animation: rotateRing 10000ms linear 1000ms infinite;

  &--icecream {
    background-color: var(--secondary-bg-hero);
    transform-origin: 55% 47%;
  }
  &--icecoffee {
    background-color: #f0d1a5;
    transform-origin: 55% 48%;
  }
  &--milkshakes {
    background-color: #c2e297;
    transform-origin: 55% 50;
  }
}

.price__cost {
  position: relative;
  width: 50%;

  top: 20%;
  right: 20%;

  font-family: var(--secondary-font);
  text-transform: uppercase;
  @include font(58, 66, 400, 0.04);

  color: var(--primary-text-color);
}

.form__total-price {
  @include font(18, 25, 400, 0.04);
  color: var(--secondary-text-color);

  text-align: center;

  &--bolded {
    font-weight: 700;
    color: var(--body-text-color);
  }
}

.order-button {
  width: 100%;

  &:hover,
  &:focus {
    color: var(--primary-text-color);

    background-color: var(--btn-text-color);
  }
}
