.products {

    &__box-title {
        transition: transform var(--transition-time) var(--timing-function), text-shadow var(--transition-time) var(--timing-function);
    
        &:hover,
        &:focus {
            transform: scale(1.2);
            text-shadow: var(--primary-bg-hero) 1px 0 10px;
        }
    }

    &__article {
        display: block;
        font-family: 'Titan One';
        text-align: center;
        text-transform: uppercase;

        color: var(--title-text-color);
    }


    &__title {
        display: block;
        font-family: 'Titan One';
        text-align: center;
        text-transform: uppercase;

        color: var(--secondary-accent-color);
        margin: 0;

    }



    &__list {
       margin: 0;
        padding: 0;
    }

    &__item {
        position: relative;
        border-radius: 24px;

        transition: transform var(--transition-time) var(--timing-function), box-shadow var(--transition-time) var(--timing-function);
        
        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
        }

        &:hover, &:focus {
            transform: scale(1.1);

            box-shadow: rgba(50, 50, 50, 0.75) 6px 0px 12px -7px, rgba(50, 50, 50, 0.75) -6px 0px 12px -7px;
        }

        &:nth-child(1) {
            background-color: var(--bg-product-1-color);
        }
        &:nth-child(2) {
            background-color: var(--bg-product-2-color);
        }
        &:nth-child(3) {
            background-color: var(--bg-product-3-color);
        }
    }

    &__item-title {
        position: relative;
        font-family: 'Titan One';
        font-weight: 400;
        text-align: center;
        text-transform: uppercase;
        color: var(--primary-text-color);

        margin-bottom: 70px;

        &::after {
            content: "";
            background: url(../images/products/svg/dec-dots.svg);
            position: absolute;
            bottom: -40px;
            left: 50%;
            transform: translateY(-50%) translatex(-50%);

            width: 26px;
            height: 6px;
        }
    }

    &__item-description {
        font-weight: 700;
        text-align: center;
        
        color: var(--primary-text-color);
    }

    &__item-extras {
        font-weight: 700;
        text-align: center;
        color: var(--primary-text-color);

    }

    &__item-info-btn {
        display: block;
        margin: 0 auto;

        text-align: center;
    
        background-color: var(--body-bg-color);
        height: 40px;
        width: 40px;
    
        border-radius: 50%;
        border: none;

        cursor: pointer;

        color: var(--btn-text-color);


        transition: color var(--transition-time) var(--timing-function), box-shadow var(--transition-time) var(--timing-function), transform var(--transition-time) var(--timing-function);

        &:hover, &:focus {
            color: #f44a75;

            box-shadow: rgba(50, 50, 50, 0.75) 6px 0px 12px -7px, rgba(50, 50, 50, 0.75) -6px 0px 12px -7px;
            }
        }
        

    &__item-icon {
        position: relative;
        width: 10px;
        height: 10px;
        top: 35%;
        transform: translateY(-50%);

        fill: currentColor;
    }

    &__item-extras-text {
        margin-top: 40px;

        border-radius: 25px;
        text-align: center;
    }

    //animation for details

    &__item-extras[open] &__item-info-btn {
        transform: rotate(90deg);

        box-shadow: rgba(50, 50, 50, 0.75) 6px 0px 12px -7px, rgba(50, 50, 50, 0.75) -6px 0px 12px -7px;
    }
}

@include mobile {
    .products {
        &__article {
            font-size: 18px;
            line-height: 1.17;

            margin-bottom: 15px;
        }

        &__title {
            font-size: 34px;
            line-height: 39px;
        }

        &__item {
            margin-top: 148px;
            padding: 160px 40px 40px 40px;
            
            &::before {
                width: 280px;
                height: 280px;
                transform: translateY(-50%);
            }

            &:nth-child(1) {
                &::before {
                    background-image: url(../images/products/mobile/ic-product1@1x.png);
                    background-size: cover;
                    @media (min-resolution: 2dppx) {
                    background-image: url(../images/products/mobile/ic-product1@2x.png);
                    }
                }
            }
            &:nth-child(2) {
                &::before {
                    background: url(../images/products/mobile/ic-product2@1x.png);
                    background-size: cover;
                @media (min-resolution: 2dppx) {
                    background-image: url(../images/products/mobile/ic-product2@2x.png);
                    }
                }
            }
        &:nth-child(3) {
            &::before {
                    background: url(../images/products/mobile/ic-product3@1x.png);
                    background-size: cover;
                @media (min-resolution: 2dppx) {
                    background-image: url(../images/products/mobile/ic-product3@2x.png);
                }
            }
        }
    }

        &__item-title {
            font-size: 20px;
            line-height: 1.15;

            margin-bottom: 70px;
        }

        &__item-description {
            font-size: 14px;
            line-height: 1.52;
        
            margin-bottom: 32px;
        }

        &__item-extras-text {
            left: 20;
            right: 20;
            padding: 10px;
        }

        &__item-extras {

            font-size: 14px;
            line-height: 1.52;
        }
    }
}

@include tablet {
    .products {
        &__article {
            font-size: 26px;
            line-height: 1.15;
            margin-bottom: 18px;
        }

        &__title {
            font-size: 48px;
            line-height: 1.14;
        }
        &__list {
            display: flex;
            }
        &__item {
            margin-top: 158px;
            margin-right: 16px;

            padding: 118px 32px 40px 32px;

            &:last-child {
                margin-right: 0;
            }

            &::before {
                width: 224px;
                height: 224px;
                transform: translateY(-60%);
            }

            &:nth-child(1) {
                &::before {
                    background-image: url(../images/products/tablet/ic-product1@1x.png);
                    background-size: cover;

                    @media (min-resolution: 2dppx) {
                        background-image: url(../images/products/tablet/ic-product1@2x.png);
                    }
                }
            }
           
            &:nth-child(2) {
                &::before {
                    background: url(../images/products/tablet/ic-product2@1x.png);
                    background-size: cover;

                    @media (min-resolution: 2dppx) {
                        background-image: url(../images/products/tablet/ic-product2@2x.png);
                    }
                }
            }
        
            &:nth-child(3) {
                &::before {
                    background: url(../images/products/tablet/ic-product3@1x.png);
                    background-size: cover;
        
                    @media (min-resolution: 2dppx) {
                        background-image: url(../images/products/tablet/ic-product3@2x.png);
                    }
                }
            }
        }
        &__item-title {
            font-size: 20px;
            line-height: 1.15;

            margin-bottom: 70px;
        }
        &__item-description {
            font-size: 14px;
            line-height: 1.76;

            margin-bottom: 32px;
        }

        &__item-extras {
            max-width: 160px;
        }

        &__item-extras-text {
            left: 20;
            right: 20;
            padding: 2px;
        }
    }
}

@include desktop {
    .products {
        &__article {
            font-size: 30px;
            line-height: 1.13;

            margin-bottom: 16px;
        }

        &__title {
            font-size: 58px;
            line-height: 1.13;

            letter-spacing: 0.06em;
        }

        &__list {
            display: flex;
            justify-content: space-around;
        }

        &__item {
            margin-top: 280px;
            margin-right: 32px;

            padding: 165px 65px 60px 65px;

            &:last-child {
                margin-right: 0;
            }
                        &::before {
                            width: 368px;
                            height: 394px;
                            transform: translateY(-65%);
                        }
                &:nth-child(1) {
                    &::before {
                        background-image: url(../images/products/desktop/ic-product1@1x.png);
                        background-size: cover;
        
                        @media (min-resolution: 2dppx) {
                            background-image: url(../images/products/desktop/ic-product1@2x.png);
                        }
                    }
                }
        
                &:nth-child(2) {
                    &::before {
                        background: url(../images/products/desktop/ic-product2@1x.png);
                        background-size: cover;
        
                        @media (min-resolution: 2dppx) {
                            background-image: url(../images/products/desktop/ic-product2@2x.png);
                        }
                    }
                }
        
                &:nth-child(3) {
                    &::before {
                        background: url(../images/products/desktop/ic-product3@1x.png);
                        background-size: cover;
        
                        @media (min-resolution: 2dppx) {
                            background-image: url(../images/products/desktop/ic-product3@2x.png);
                        }
                    }
                }
        }

        &__item-title {
            font-size: 20px;
            line-height: 1.15;
        }

        &__item-description {
            font-size: 14px;
            line-height: 1.76;

            margin-bottom: 60px;
        }

        &__item-extras {
            max-width: 240px;
        }

        &__item-extras-text {
            left: 20;
            right: 20;
            bottom: 140;
            padding: 10px;
        }
    }
}