<form class="form" autocomplete="off">
  <ul class="form__cathegory cathegory">
    <!-- Client`s info -->
    <li class="cathegory__client-info">
      <label class="form__label">
        <span class="form__label">Name</span>
        <input
          class="form__input"
          name="name"
          type="text"
          placeholder="John Smith"
        />
      </label>

      <label class="form__label">
        <span class="form__label">Phone</span>
        <input
          class="form__input"
          name="phone"
          type="phone"
          placeholder="+11 222 1234567"
        />
      </label>

      <label class="form__label">
        <span class="form__label">E-mail</span>
        <input
          class="form__input"
          name="email"
          type="email"
          placeholder="John.Smith@mail.com"
        />
      </label>

      <label class="form__label">
        <span class="form__label">Delivery adress</span>
        <input
          class="form__input"
          name="adress"
          type="text"
          placeholder="New York, 13st, 123, ap. 45"
        />
      </label>

      <label class="form__field form__textarea">
        <span class="form__label">Comments</span>

        <textarea
          class="form__input input-textarea"
          name="comments"
          rows="6"
          placeholder="Input any comments to your order"
        ></textarea>
      </label>
    </li>

    <!-- Our products -->
    <li class="cathegory__products buynow-products">
      <ul class="buynow-products__list">
        <li class="buynow-products__item">
          <label class="buynow-products__label">
            <span class="buynow-products__title">ice cream</span>

            <span class="buynow-products__quantity quantity">
              <button class="quantity__decrise-btn decrise-btn">
                <svg class="decrise-btn__svg" width="12" height="12">
                  <use href="./images/svg/sprite.svg#icon-btn-arrow"></use>
                </svg>
              </button>
              <input
                class="quantity__input"
                type="number"
                name="ic-quantity"
                min="0"
                max="100"
                placeholder="max 100"
              />
              <button class="quantity__incrise-btn incrise-btn">
                <svg class="decrise-btn__svg" width="12" height="12">
                  <use href="./images/svg/sprite.svg#icon-btn-arrow"></use>
                </svg>
              </button>
            </span>
          </label>
          <div class="buynow-products__image-price image-price">
            <img
              class="image-price__image"
              src="./images/modals/buynow/mobile/home-pic1@1x.png"
              alt="ice cream"
              width="140"
              height="150"
            />
            <div class="image-price__price price">
              <div class="price__bg"></div>
              <span class="price__cost">5</span>
            </div>
          </div>
        </li>
      </ul>
    </li>
  </ul>
</form>
