<form class="form" autocomplete="off">
  <ul class="form__cathegory cathegory list">
    <!-- Client`s info -->
    <li class="cathegory__client-info">
      <label class="form__label">
        <span class="form__field-name">Name</span>
        <input
          class="form__input"
          name="name"
          type="text"
          placeholder="John Smith"
        />
      </label>

      <label class="form__label">
        <span class="form__field-name">Phone</span>
        <input
          class="form__input"
          name="phone"
          type="phone"
          placeholder="+11 222 1234567"
        />
      </label>

      <label class="form__label">
        <span class="form__field-name">E-mail</span>
        <input
          class="form__input"
          name="email"
          type="email"
          placeholder="John.Smith@mail.com"
        />
      </label>

      <label class="form__label">
        <span class="form__field-name">Delivery adress</span>
        <input
          class="form__input"
          name="adress"
          type="text"
          placeholder="New York, 13st, 123, ap. 45"
        />
      </label>

      <label class="form__label">
        <span class="form__field-name">Comments</span>

        <textarea
          class="form__input input-textarea"
          name="comments"
          rows="6"
          placeholder="Input any comments to your order"
        ></textarea>
      </label>
    </li>

    <!-- Our products -->
    <li class="cathegory__products buynow-products">
      <ul class="buynow-products__list list">
        <li class="buynow-products__item">
          <div class="buynow-products__label">
            <span class="buynow-products__title">ice cream</span>

            <span class="buynow-products__quantity quantity">
              <button
                class="quantity__button quantity__button--rotated button-decrise"
                type="button"
              >
                <svg
                  class="quantity__svg decrise-btn__svg"
                  width="12"
                  height="12"
                >
                  <use href="./images/svg/sprite.svg#icon-btn-arrow"></use>
                </svg>
              </button>
              <input
                class="form__input quantity__input"
                type="number"
                name="ic-quantity"
                min="0"
                max="100"
                placeholder="max 100"
              />
              <button class="quantity__button button-incrise" type="button">
                <svg
                  class="quantity__svg incrise-btn__svg"
                  width="12"
                  height="12"
                >
                  <use href="./images/svg/sprite.svg#icon-btn-arrow"></use>
                </svg>
              </button>
            </span>
          </div>

          <div class="buynow-products__image-price image-price">
            <div class="price__bg price__bg--icecream"></div>

            <picture class="image-price__image">
              <source
                srcset="
                  ./images/modals/buynow/tablet/home-pic1@1x.png 1x,
                  ./images/modals/buynow/tablet/home-pic1@2x.png 2x
                "
                media="(min-width: 768px)"
              />

              <source
                srcset="
                  ./images/modals/buynow/mobile/home-pic1@1x.png 1x,
                  ./images/modals/buynow/mobile/home-pic1@2x.png 2x
                "
                media="(min-width: 320px)"
              />

              <img
                src="./images/modals/buynow/mobile/home-pic1@1x.png"
                alt="ice cream"
                width="140"
              />
            </picture>

            <div class="image-price__price price">
              <span class="price__cost">$5</span>
            </div>
          </div>
        </li>

        <li class="buynow-products__item">
          <div class="buynow-products__label">
            <span class="buynow-products__title">ice coffee</span>

            <span class="buynow-products__quantity quantity">
              <button
                class="quantity__button quantity__button--rotated button-decrise"
                type="button"
              >
                <svg
                  class="quantity__svg decrise-btn__svg"
                  width="12"
                  height="12"
                >
                  <use href="./images/svg/sprite.svg#icon-btn-arrow"></use>
                </svg>
              </button>
              <input
                class="form__input quantity__input"
                type="number"
                name="ic-quantity"
                min="0"
                max="100"
                placeholder="max 100"
              />
              <button class="quantity__button button-incrise" type="button">
                <svg
                  class="quantity__svg incrise-btn__svg"
                  width="12"
                  height="12"
                >
                  <use href="./images/svg/sprite.svg#icon-btn-arrow"></use>
                </svg>
              </button>
            </span>
          </div>

          <div class="buynow-products__image-price image-price">
            <div class="price__bg price__bg--icecoffee"></div>

            <picture class="image-price__image">
              <source
                srcset="
                  ./images/modals/buynow/tablet/home-pic2@1x.png 1x,
                  ./images/modals/buynow/tablet/home-pic2@2x.png 2x
                "
                media="(min-width: 768px)"
              />

              <source
                srcset="
                  ./images/modals/buynow/mobile/home-pic2@1x.png 1x,
                  ./images/modals/buynow/mobile/home-pic2@2x.png 2x
                "
                media="(min-width: 320px)"
              />

              <img
                src="./images/modals/buynow/mobile/home-pic2@1x.png"
                alt="ice cream"
                width="126"
              />
            </picture>

            <div class="image-price__price price">
              <span class="price__cost">$3</span>
            </div>
          </div>
        </li>

        <li class="buynow-products__item">
          <div class="buynow-products__label">
            <span class="buynow-products__title">milkshakes</span>

            <span class="buynow-products__quantity quantity">
              <button
                class="quantity__button quantity__button--rotated button-decrise"
                type="button"
              >
                <svg
                  class="quantity__svg decrise-btn__svg"
                  width="12"
                  height="12"
                >
                  <use href="./images/svg/sprite.svg#icon-btn-arrow"></use>
                </svg>
              </button>
              <input
                class="form__input quantity__input"
                type="number"
                name="ic-quantity"
                min="0"
                max="100"
                placeholder="max 100"
              />
              <button class="quantity__button button-incrise" type="button">
                <svg
                  class="quantity__svg incrise-btn__svg"
                  width="12"
                  height="12"
                >
                  <use href="./images/svg/sprite.svg#icon-btn-arrow"></use>
                </svg>
              </button>
            </span>
          </div>

          <div class="buynow-products__image-price image-price">
            <div class="price__bg price__bg--milkshakes"></div>

            <picture class="image-price__image">
              <source
                srcset="
                  ./images/modals/buynow/tablet/home-pic3@1x.png 1x,
                  ./images/modals/buynow/tablet/home-pic3@2x.png 2x
                "
                media="(min-width: 768px)"
              />

              <source
                srcset="
                  ./images/modals/buynow/mobile/home-pic3@1x.png 1x,
                  ./images/modals/buynow/mobile/home-pic3@2x.png 2x
                "
                media="(min-width: 320px)"
              />

              <img
                src="./images/modals/buynow/mobile/home-pic3@1x.png"
                alt="ice cream"
                width="140"
              />
            </picture>

            <div class="image-price__price price">
              <span class="price__cost">$7</span>
            </div>
          </div>
        </li>
      </ul>

      <p class="form__total-price">
        Total cost:
        <span
          id="total-price"
          class="form__total-price form__total-price--bolded"
          >$264</span
        >
      </p>

      <button class="form__button order-button button" type="button">
        Make an order
      </button>
    </li>
  </ul>
</form>
