<div>

<h2 class="about__title-modal">our team</h2>

<ul class="franchise__team">

<li class="franchise__li">
    <img  class="franchise__photo" src="./images/our-team/photo-dt.jpg" width="370" height="370" alt="Dmitriy Tyukh">
    
      <h3 class="franchise__name">Dmitriy Tyukh</h3>
    <P class="franchise__job-title">Team lead </P>
    <p class="franchise__work" >made up the "Advantages" section, smooth scroll</p>
    
  </li>

  <li class="franchise__li">
    <img  class="franchise__photo" src="./images/our-team/photo-mb.jpg" width="370" height="370"  alt="Marina Belousova">
   
      <h3 class="franchise__name">Marina Belousova</h3>
    <P class="franchise__job-title">Scrum master</P>
    <p class="franchise__work" >made up the "Contacts" section</p>
    
  </li> 

  <li class="franchise__li">
    <img  class="franchise__photo" src="./images/our-team/photo-al.jpg" width="370" height="370"  alt="Oleksii Lisovyi">
    
      <h3 class="franchise__name">Oleksii Lisovyi</h3>
    <P class="franchise__job-title">Developer</P>
    <p class="franchise__work" >made up the "Customer Reviews" section, "gallery" section, SVG-sprite</p>
   
  </li>


<li class="franchise__li">
    <img  class="franchise__photo" src="./images/our-team/photo-vp.jpg#" width="370" height="370"  alt="Volodymyr Peretiatko ">
   
      <h3 class="franchise__name">Volodymyr Peretiatko </h3>
    <P class="franchise__job-title">Developer</P>
    <p class="franchise__work" >made up the "Header" section</p>
    
  </li>

<li class="franchise__li">
    <img  class="franchise__photo" src="./images/our-team/photo-ms.jpg" width="370" height="370" alt="Maxym Stetsenko">
    
      <h3 class="franchise__name">Maxym Stetsenko</h3>
    <P class="franchise__job-title">Developer</P>
    <p class="franchise__work" >made up the "Products" section</p>
   
  </li>

  <li class="franchise__li">
    <img  class="franchise__photo" src="./images/our-team/photo-av.jpg" width="370" height="370" alt="Alla Voitiuk">
   
      <h3 class="franchise__name">Alla Voitiuk</h3>
    <P class="franchise__job-title">Developer</P>
    <p class="franchise__work" >made up the "About" section</p>
    
  </li>

  
  <li class="franchise__li">
    <img  class="franchise__photo" src="./images/our-team/photo-im.jpg" width="370" height="370" alt="Iryna Mishyna">
    
      <h3 class="franchise__name"> Iryna Mishyna</h3>
    <P class="franchise__job-title">Developer</P>
    <p class="franchise__work" >made up the "Hero" section</p>
  
  </li>

<li class="franchise__li">
    <img  class="franchise__photo" src="./images/our-team/photo-sc.jpg" width="370" height="370" alt="Serhii Chuhunov">
    
      <h3 class="franchise__name">Serhii Chuhunov</h3>
    <P class="franchise__job-title">Developer</P>
    <p class="franchise__work" >made up the "Footer" section</p>
   
  </li>

</ul>
</div>