<h2 class="about__title-modal">our team</h2>
<ul class="franchise__team" >

<li class="franchise__li">
    <img  class="franchise__photo" src="#" width="150" alt="Dmitriy Tyukh">
    <div class="franchise__about">
      <h3 class="franchise__name">Dmitriy Tyukh</h3>
    <P class="franchise__job-title">Team lead </P>
    <p class="franchise__work" >made up the ..... section</p>
    </div>
    

  </li>

  <li class="franchise__li">
    <img  class="franchise__photo" src="#" width="150" alt="Marina Belousova">
    <div class="franchise__about">
      <h3 class="franchise__name">Marina Belousova</h3>
    <P class="franchise__job-title">Scrum master</P>
    <p class="franchise__work" >made up the contacts section</p>
    </div>
    

  </li>
<li class="franchise__li">
    <img  class="franchise__photo" src="#" width="150" alt="Peretiatko Volodymyr">
    <div class="franchise__about">
      <h3 class="franchise__name">Peretiatko Volodymyr</h3>
    <P class="franchise__job-title">Developer</P>
    <p class="franchise__work" >made up the header section</p>
    </div>
  </li>

<li class="franchise__li">
    <img  class="franchise__photo" src="#" width="150" alt="Maxym Stetsenko">
    <div class="franchise__about">
      <h3 class="franchise__name">Maxym Stetsenko</h3>
    <P class="franchise__job-title">developer</P>
    <p class="franchise__work" >made up the Products section</p>
    </div>
  </li>

  <li class="franchise__li">
    <img  class="franchise__photo" src="#" width="150" alt="Oleksii Lisovyi">
    <div class="franchise__about">
      <h3 class="franchise__name">Oleksii Lisovyi</h3>
    <P class="franchise__job-title">developer</P>
    <p class="franchise__work" >made up the ..... section</p>
    </div>
  </li>
</ul>



