<div class="about__milk">
  <h2 class="about__title-modal">The daily benefits of one glass of milk</h2>

  <p class="about__story">
    <span class="about__subtitle">Milk</span> is an easily digestible source of
    calcium. And that's the pure truth. Easy to digest fat and vitamin D, which
    is also found in dairy products, contribute to the absorption of calcium and
    the correct distribution of this element in the body.
  </p>
  <p class="about__story">
    <span class="about__subtitle">Milk protein</span> contains all the amino
    acids necessary for the human body — tiny "bricks" that make up all
    proteins. There are 20 main varieties of amino acids, 8 of which are
    indispensable, that is, they cannot be formed in the body, but must be
    obtained from food. Euphorbia protein is able to fully compensate for the
    need for all amino acids.
  </p>
  <h3 class="about__subtitle">One glass of milk per day is:</h3>

  <ul class="about__list">
    <li class="about__item">35% Riboflavin</li>
    <li class="about__item">25% Calcium</li>
    <li class="about__item">20% Phosphorus</li>
    <li class="about__item">20% Vitamin B5</li>
    <li class="about__item">15% Vitamin A</li>
    <li class="about__item">15% Vitamin D</li>
    <li class="about__item">8% Potassium</li>
    <li class="about__item">10% Niacin</li>
  </ul>

  <p class="about__subtitle">Drink milk and be healthy!</p>
</div>
